<template>
    <div class="silder"></div>
</template>
<script lang="ts" setup>
   
   import { defineProps, computed } from 'vue';

   const props: any = defineProps({
       // 当前收起状态
       collapsed: {
           type: Boolean,
           default: ''
       }, 
       // 收缩宽度
       collapseWidth: {
           type: Number,
           default: 80
       },
       // 是否可收起
       collapsible: {
           type: Boolean,
           default: false
       },
       // 是否默认收起
       defaultCollapsed: {
           type: Boolean,
           default: false
       },
       // 主题颜色
       theme: {
           type: String,
           default: 'dark'
       },
       // 设置宽度
       width: {
           type: Number,
           default: 200
       }
   })

   

</script>
<style lang="less" scoped>
   
</style>