<template>
    <svg :class="svgClass" v-bind="$attrs" :style="{ color: color }">
      <use :xlink:href="iconName" />
    </svg>
</template>
<script lang="ts" setup>
    
   import { defineProps, computed } from 'vue';

   const props: any = defineProps({
       name: {
           type: String,
           required: true
       }, 
       color: {
           type: String,
           default: ''
       }
   })

   const iconName: any = computed(() => `#icon-${props.name}`);
   const svgClass: any = computed(() => {
       if(props.name) {
           return `svg-icon icon-${props.name}`
       }
       return 'svg-icon'
   })


</script>
<style scoped>
  .svg-icon {
      width: 1.2rem;
      height: 1.2rem;
      fill: currentColor;
      vertical-align: middle;
      margin: 0 10px 0 0;
  }
</style>
