.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #f1eded;
}
.table-config {
text-align: right;
margin: 10px;
}  
.table-pagination {
padding: 20px 0;
text-align: right;
}
.config-icon {
padding: 5px;
display: inline-flex;
justify-content: space-between;
}
.config-icon > p {
margin: 0;
cursor: pointer;
}