<template>
  <a-layout class="manage">
    <Sider />
    <a-layout>
      <Header />
      <Content />
    </a-layout>
  </a-layout>
</template>

<script lang="ts">
import { Sider, Header, Content } from "../container";
import { Store } from "ant-design-vue/lib/form/interface";
import { defineComponent, ref } from "vue";
import { RouteRecordRaw } from "vue-router";
import { useStore } from "vuex";
export default defineComponent({
  components: {
    Sider,
    Header,
    Content,
  },
  data() {
    return {
      store: ref<Store>(useStore()),
    };
  },
  created() {
    this.redirectRouter();
  },
  methods: {
    redirectRouter() {
      const routes: RouteRecordRaw[] = this.$router
        .getRoutes()
        .filter((item) => Object.is(item.name, "manage"))
        .map((item) => item.children)[0];
      this.$route.matched.forEach((item, index) => {
        let getOpenkeys: string =
          item.path && index != 0 ? this.$route.matched[index - 1].path : '';
        this.openKeysClick([getOpenkeys]);
      });
      if (this.$route.path == "/") {
        let url: string = routes[0].path;
        this.$router.push(url);
        this.selectKeysClick([url]);
      } else {
        this.selectKeysClick([this.$route.path]);
      }
    },
    selectKeysClick(keys: string[]) {
      this.store.dispatch({
        type: "asyncUpdateSelectedKeys",
        selectedKeys: keys,
      });
    },
    openKeysClick(keys: string[]) {
      this.store.dispatch({
        type: "asyncUpdateOpenKeys",
        openKeys: keys,
      });
    },
  },
});
</script>

<style lang="less" scoped>
.manage {
  height: 100vh;
}
</style>
