<template>
    <div class="h5_package">分包服务创建成功!</div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    setup() {
        return {

        }
    }
})
</script>
<style lang="less" scoped>
.h5_package {
    margin: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #4CAF50;
}
</style>
