.container {
    margin: 0;
    padding: 0;
    &-layout {
        height: 100vh;
        background-color: #f4f5f5 !important;
        &_sider {
            height: 100%;
            background-color: #fff !important;
            .sider-head {
                height: 60px;
                border-bottom: 1px solid #f7f8fa;
            }
            .sider-menu {
                padding: 10px 0;
            }
        }
        &_header {
            height: 60px;
            background-color: #fff !important;
        }
        &_content {
            height: calc(100% - 60px);
            padding: 10px;
            .content-container {
                height: 100%;
                padding: 12px;
                background-color: #fff;
            }
        }
    }
}