<template>
  <a-layout-content class="manage-content" id="manageContent">
    <router-view />
  </a-layout-content>
</template>

<style>
.manage-content {
  margin: 10px;
  padding: 15px;
  background: #fff;
  min-height: 280px;
}
</style>r6r8？