<template>
  <a-layout-header class="manage-header">
    <div class="collapsedClass">
      <menu-unfold-outlined v-if="storeCollapsed" class="trigger" @click="clickTrigger" />
      <menu-fold-outlined v-else class="trigger" @click="clickTrigger" />
    </div>
    <a-popover placement="left">
      <template #content>退出登录</template>
      <div class="logoutClass">
        <svg-icon name="logout" />
      </div>
    </a-popover>
  </a-layout-header>
</template>

<script lang="ts">
import { useStore } from "vuex";
import { MenuUnfoldOutlined, MenuFoldOutlined } from "@ant-design/icons-vue";
import { defineComponent, computed, ComputedRef } from "vue";
import { Store } from "ant-design-vue/lib/form/interface";

export default defineComponent({
  components: {
    MenuUnfoldOutlined,
    MenuFoldOutlined,
  },
  setup() {
    let store: Store = useStore();
    let storeCollapsed: ComputedRef = computed(() => store.state.collapsed);
    let clickTrigger = () => {
      store.dispatch("asyncUpdateCollapse", {
        collapsed: !storeCollapsed.value,
      });
    };
    return {
      storeCollapsed,
      clickTrigger,
    };
  }
});
</script>


<style scoped>
.manage-header {
  background: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.manage-header .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.manage-header .trigger:hover {
  color: #1890ff;
}

.logoutClass {
  margin: 0 24px;
  cursor: pointer;
}

.logoutClass:hover {
  color: #1890ff;
}

.logoutClass .svg-icon {
  vertical-align: -2px;
  margin: 0;
}
</style>