<template>
  <a-layout-sider
    class="manage-silder"
    theme="light"
    v-model:collapsed="storeCollapsed"
    :trigger="null"
    collapsible
  >
    <div class="logo" />
    <a-menu
      mode="inline"
      v-model:openKeys="openKeys"
      v-model:selectedKeys="selectedKeys"
      @select="selectKeysClick"
    >
      <template v-for="(item, index) in routes" :key="index">
        <template v-if="item.children">
          <a-sub-menu :index="item.path" :key="item.path">
            <template #icon>
              <svg-icon :name="item.icon" class="svgClass" />
            </template>
            <template #title>
              <span>{{ item.title }}</span>
            </template>
            <a-menu-item
              :key="subItem.path"
              v-for="(subItem, subIndex) in item.children"
            >
              <span>{{ subItem.title }}</span>
              <router-link :to="subItem.path" :key="subIndex" />
            </a-menu-item>
          </a-sub-menu>
        </template>
        <template v-else>
          <a-menu-item :key="item.path">
            <template #icon>
              <svg-icon :name="item.icon" class="svgClass" />
            </template>
            <span>{{ item.title }}</span>
            <router-link :to="item.path" />
          </a-menu-item>
        </template>
      </template>
    </a-menu>
  </a-layout-sider>
</template>

<script lang="ts">
import { useStore } from "vuex";
import { defineComponent, ref, computed, ComputedRef } from "vue";
import { RouteRecordRaw } from "vue-router";
import { Store } from "ant-design-vue/lib/form/interface";

export default defineComponent({
  data() {
    return {
      routes: ref<Array<any>>([]),
    };
  },
  setup() {
    let store: Store = useStore();
    let storeCollapsed: ComputedRef<boolean> = computed(
      () => store.state.collapsed
    );
    let openKeys: ComputedRef<string[]> = computed(() => store.state.openKeys);
    let selectedKeys: ComputedRef<string[]> = computed(
      () => store.state.selectedKeys
    );
    let selectKeysClick = (e: any) => {
      store.dispatch({
        type: "asyncUpdateSelectedKeys",
        selectedKeys: e.selectedKeys,
      });
    };
    return {
      selectedKeys,
      openKeys,
      storeCollapsed,
      selectKeysClick,
    };
  },
  created() {
    this.getRoutes();
  },
  methods: {
    getRoutes() {
      this.routes = this.$router
        .getRoutes()
        .filter((item) => Object.is(item.name, "manage"))
        .map((item) => item.children)[0];
    },
  },
});
</script>

<style scoped>
.manage-silder {
  border-right: 1px solid #d8d8d8;
}
.manage-silder .logo {
  height: 32px;
  background: #eeeeee;
  margin: 16px;
}
.svgClass {
  vertical-align: -3px;
}
</style>